/*style for top buttons*/
/*style for words from script, 

default class
	50px, black sans serif
or stylized
 	bold, italic or underline*/
/*background color for page*/

.div-text-default {
	font-family: sans-serif;
	font-size: 50px;
	padding: 20px;
	display: inline-block;
}

.button-options {
	font-size: 40px;
	border: 2px solid lightgray;
	margin: 2px;
	padding: 10px;
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}

.content {
	height: 200px;
}

.enabled {
	background-color: blue;
	opacity: 15%;
	cursor: pointer;
}